

header{
    background-color: black;
}



.truliaNav{
    background-color: azure;
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
}

.truliaLogo{
    background-color: #20c063;
    max-width: 80px;
}

.truliaNavLeft li{
    list-style: none;
    color: white;
    background-color: aquamarine;
}

.truliaNavRight li{
    list-style: none;
    color: white;
    background-color: blue;
}