


.truliaNav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #20c063;
}

.truliaNavLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.truliaLogo{
    height:22px;
    margin-left: 20px;
}

.truliaNavLeft ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0px;
    margin-left: 30px;
}


.truliaNavRight ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
    gap: 20px;
    padding: 0px;
    margin-right: 20px;

}

.truliaNavLeft li, .truliaNavRight li{
    list-style: none;
    line-height: 0.5;
}

.truliaNavItem{
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.circle{
    padding: 2px 6px;
    margin-right: 8px;
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 12px;
}

.searchReturn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 40px 0 15px 25px;
    align-items: flex-end;
    background-color: white;
}

.searchReturn h1{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #3b4144;
}

.searchReturn p{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #3b4144;
}


/* ---FOR EXAMPLE GRID ITEM--- */


.trulia-grid-item{
    display: flex;
    flex-direction: column;
    max-width: 325px;
    border: 3px solid black;
    border-radius: 10px;
}

.trulia-house-image-1{
    background-color: #20c063;
    padding: 100px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
    background-position: center;
    background-size: cover;
}


.trulia-house-facts{

}

.trulia-house-price{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.trulia-house-price h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 0px;
}

.arrow-up-icon{
    height: 20px;
    margin-left: 10px;
}

.trulia-house-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 0px;

}


.trulia-house-stats li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trulia-house-beds-icon{
    margin: 10px;
    height: 20px;
}

.trulia-house-baths-icon{
    margin: 10px;
    height: 20px;
}

.trulia-article-icon{

}

.trulia-house-baths{

}

.trulia-house-sqft{

}

.trulia-grid-item p{

}